.experience {
    &-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        grid-template-areas: 
        "T T T T T T T T T T T T"
        "I I I I I I I I I I I I"
        "D D D D D D D D D D D D"
        "N N N N N N N N N N N N"
        "B B B B B B B B B B B B"
        ;
        &__title {
            grid-area: T;
        }
        &__description {
            grid-area: D;
        }
        &__img {
            grid-area: I;
        }
        &__notification {
            grid-area: N;
        }
        &__btn {
            grid-area: B;
        }
    }

    @media screen and (min-width: 431px) {
        &-grid {
            // align-items: center;
            // grid-template-areas: 
            // "T T T T T T T T T T T T"
            // "D D D D D D I I I I I I"
            // "D D D D D D B B B B B B"
            // "N N N N N N N N N N N N"
            // ;
        }
    }
    @media screen and (min-width: 768px) {
        &-grid {
            align-items: center;
            grid-template-areas: 
            "T T T T T T T T T T T T"
            "D D D D D D D I I I I I"
            "N N N N N N N N N N N N"
            "B B B B B B B B B B B B"
            ;
        }
    }
    @media screen and (min-width: 992px) {
        &-grid {
            gap: 1rem 2rem;
            grid-template-areas: 
            "T T T T T T T I I I I I"
            "D D D D D D D I I I I I"
            "N N N N N N N N N N N N"
            "B B B B B B B B B B B B"
            ;
        }
        &__notification {
            max-width: 590px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (min-width: 1200px) {
        &-grid {
            gap: 1.5rem 3rem;
        }
    }
    @media screen and (min-width: 1540px) {
        &-grid {
            gap: 2rem 4rem;
                        grid-template-areas: 
            "T T T T T T T I I I I I"
            "D D D D D D D I I I I I"
            "N N N N N N N I I I I I"
            "B B B B B B B I I I I I"
            ;
        }
    }
}