.faq {
    &-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        grid-template-areas:
            "T T T T T T T T T T T T"
            "I I I I I I I I I I I I"
            "A A A A A A A A A A A A"
        ;

        &__title {
            grid-area: T;
        }

        &__accordion {
            grid-area: A;
        }

        &__img {
            grid-area: I;
        }
    }

    @media screen and (min-width: 431px) {
        &-grid {
            align-items: center;
            // grid-template-areas:
            //     "T T T T T T T T T T T T"
            //     "I I I I I I A A A A A A"
            // ;
        }
    }

    @media screen and (min-width: 768px) {
        &-grid {
            // grid-template-areas:
            //     "T T T T T T T T T T T T"
            //     "I I I I I A A A A A A A"
            // ;
        }
    }


    @media screen and (max-width: 991px) {
        &__img {
            max-height: 300px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    @media screen and (min-width: 992px) {
        &-grid {
            gap: 1rem 2rem;
            grid-template-areas:
                // "I I I I I . . . . . . ."
                "I I I I I T T T T T T T"
                "I I I I I A A A A A A A"
                // "I I I I I . . . . . . ."
            ;
        }
    }

    @media screen and (min-width: 1200px) {
        &-grid {
            gap: 1.5rem 3rem;
        }
    }

    @media screen and (min-width: 1440px) {
        &-grid {
            gap: 2rem 4rem;
        }
    }
}