.notification {
    background: linear-gradient(to right, #E7F4E8 0%, #C8E6C9 100%);
    padding: 8px 0;
    font-size: 14px;

    &__content {
        text-align: center;
    }

    &__indicator {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: green;
        vertical-align: 0.125em;
        position: relative;
        animation: pulse 1000ms infinite;
    }

    // Mobile: show short text only
    &__text-mobile {
        display: inline;
    }
    &__text-desktop {
        display: none;
    }

    @media screen and (min-width: 768px) {
        // Desktop: show full text only
        &__text-mobile {
            display: none;
        }
        &__text-desktop {
            display: inline;
        }
    }

    @media screen and (min-width: 1540px) {
        font-size: 16px;
    }
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 0px var(--green));
    }
    100% {
       filter: drop-shadow(0 0 10px var(--green));
    }
}
