.notification {
    padding: 1rem 1.25rem;
    background: linear-gradient(to right, #E7F4E8 0%, #C8E6C9 100%);
    border-radius: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 14px;
    &__availability {
        position: relative;
    }
    &__indicator {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: green;
        vertical-align: 0.125em;
        position: relative;
        animation: pulse 1000ms infinite;
        // &:before {
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     border-radius: 50%;
        //     background: green;
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        //     animation: pulse 1000ms infinite;
        // }
    }
    &__refresh {
        font-weight: 300;
        span {
            min-width: 1em;
            display: inline-block;
            text-align: center;
        }
    }
    
    @media screen and (max-width: 430.5px) {
        border-radius: 0;
        margin-right: calc(var(--bs-gutter-x) * -0.5);
        margin-left: calc(var(--bs-gutter-x) * -0.5);

    }
    @media screen and (max-width: 767px) {
                justify-content: center;
        text-align: center ;
    }

    @media screen and (min-width: 1540px) {
        font-size: 16px;
    }
 }

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 0px var(--green));
    } 
    100% {
       filter: drop-shadow(0 0 10px var(--green));
    }
}

