.recovery {
    overflow: hidden;
    color: var(--dark);
    &__subtitle {
        margin-bottom: 2.5rem;
    }
    &__row {
        --gap-x: 0;
        --gap-y: 110px;
        --padding-x: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-y) var(--gap-x);
        margin-left: calc(var(--padding-x) * -1);
        margin-right: calc(var(--padding-x) * -1);
        margin-bottom: 1.5rem;
    }

    &__col {
        width: 100%;
        
        &:not(:last-child) {
            --arrow-visibility-y: block;
            --arrow-offset-y: 1rem;
            --arrow-offset-x: 1rem;
            --arrow-icon: url("data:image/svg+xml,%3Csvg width='12' height='64' viewBox='0 0 12 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.77344 64L11.5469 54H-6.53267e-05L5.77344 64ZM5.77344 0H4.77344V2H5.77344H6.77344V0H5.77344ZM5.77344 6H4.77344V10H5.77344H6.77344V6H5.77344ZM5.77344 14H4.77344V18H5.77344H6.77344V14H5.77344ZM5.77344 22H4.77344V26H5.77344H6.77344V22H5.77344ZM5.77344 30H4.77344V34H5.77344H6.77344V30H5.77344ZM5.77344 38H4.77344V42H5.77344H6.77344V38H5.77344ZM5.77344 46H4.77344V50H5.77344H6.77344V46H5.77344ZM5.77344 54H4.77344V58H5.77344H6.77344V54H5.77344Z' fill='%232488EA'/%3E%3C/svg%3E%0A");
        }
    }

    &-item {
        --icon-size: 70px;
        padding: 0 var(--padding-x);
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            display: var(--arrow-visibility-y, none);
            width: 100%;
            height: calc(var(--gap-y) - var(--arrow-offset-y) * 2);
            background-image: var(--arrow-icon);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: calc(100% + var(--arrow-offset-y));
        }

        &:after {
            content: "";
            display: var(--arrow-visibility-x, none);
            height: var(--icon-size);
            width: calc(100% - var(--icon-size) - var(--arrow-offset-x) * 2);
            background-image: var(--arrow-icon);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: calc(50% + var(--icon-size) / 2 + var(--arrow-offset-x));
            top: 0;
            z-index: -1;
        }

        &__icon {
            width: var(--icon-size);
            height: var(--icon-size);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 2rem;
        }

        &__title {
            margin-bottom: 1rem;
        }
    }

    @media screen and (min-width: 431px) {
        &__col {
            width: 100%;

            &:not(:last-child) {
                --arrow-visibility-y: none;
            }
        }
        &-item {
            --icon-size: 80px;
        }
    }
    @media screen and (min-width: 431px) and (max-width: 991px) {
        &__row {
            --gap-y: 1rem;
        }
        &-item {
            display: flex;
            text-align: left;
            gap: 1rem;
        }
    }
    @media screen and (min-width: 768px) {
        &__row {
            margin-bottom: 2rem;
        }
        &-item {
            --icon-size: 90px;
        }
    }

    @media screen and (min-width: 992px) {
        &__subtitle {
            margin-bottom: 4rem;
        }
        &__row {
            margin-bottom: 3rem;
        }
        &__col {
            width: 33%;
            &:not(:last-child) {
                --arrow-icon: url("data:image/svg+xml,%3Csvg width='351' height='48' viewBox='0 0 351 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M350.586 0.810757L344.894 10.8430L339.039 0.90509L350.586 0.810757ZM0.585938 0.810547L1.17223 0.00044632C1.70265 0.384327 2.23627 0.765846 2.77306 1.145L2.19613 1.9618L1.6192 2.77859C1.07618 2.39503 0.536319 2.00905 -0.000353158 1.62065L0.585938 0.810547ZM5.47321 4.2212L6.03155 3.39158C7.12908 4.13023 8.23897 4.85943 9.36096 5.57917L8.82102 6.42088L8.28108 7.26258C7.14689 6.53501 6.02472 5.79775 4.91487 5.05081L5.47321 4.2212ZM12.1825 8.5272L12.7046 7.67428C13.8306 8.36349 14.968 9.04355 16.1166 9.71442L15.6123 10.5779L15.1079 11.4414C13.9476 10.7637 12.7984 10.0766 11.6605 9.38012L12.1825 8.5272ZM19.0724 12.5527L19.5595 11.6793C20.7087 12.3202 21.8683 12.9522 23.0383 13.5753L22.5682 14.4579L22.0981 15.3405C20.9169 14.7114 19.7459 14.0733 18.5854 13.4261L19.0724 12.5527ZM26.123 16.3082L26.4304 15.4169C27.7451 16.0114 28.9235 16.5972 30.1113 17.1746L29.6742 18.0739L29.2371 18.9733C28.0385 18.3908 26.8493 17.7995 25.6697 17.1995L26.123 16.3082ZM33.2815 19.7877L33.7027 18.8807C34.8994 19.4363 36.1051 19.9835 37.3197 20.5222L36.9142 21.4363L36.5088 22.3504C35.2839 21.8071 34.0677 21.2552 32.8604 20.6947L33.2815 19.7877ZM40.5634 23.0184L40.9536 22.0977C42.1733 22.6145 43.4015 23.123 44.6378 23.6232L44.2627 24.5502L43.8877 25.4772C42.6414 24.973 41.4032 24.4603 40.1733 23.9392L40.5634 23.0184ZM47.9578 26.0111L48.3182 25.0783C49.5491 25.5538 50.7876 26.0212 52.0336 26.4805L51.6877 27.4188L51.3419 28.3571C50.0863 27.8942 48.8381 27.4232 47.5975 26.9439L47.9578 26.0111ZM55.4527 28.7743L55.7843 27.8309C57.0245 28.2669 58.2718 28.6951 59.5258 29.1154L59.208 30.0636L58.8902 31.0117C57.627 30.5883 56.3705 30.157 55.121 29.7177L55.4527 28.7743ZM63.0039 31.3054L63.308 30.3528C64.5669 30.7547 65.8322 31.1489 67.1039 31.5352L66.8132 32.492L66.5225 33.4489C65.2419 33.0598 63.9676 32.6628 62.6997 32.2581L63.0039 31.3054ZM70.6267 33.6221L70.9042 32.6614C72.1771 33.0292 73.4559 33.3893 74.7405 33.7418L74.4759 34.7062L74.2113 35.6705C72.9181 35.3157 71.6306 34.9531 70.3491 34.5828L70.6267 33.6221ZM78.3217 35.7342L78.5736 34.7664C79.851 35.0989 81.1337 35.4239 82.4217 35.7415L82.1823 36.7124L81.9429 37.6834C80.6466 37.3637 79.3555 37.0366 78.0698 36.7019L78.3217 35.7342ZM86.0743 37.6458L86.3013 36.6719C87.5844 36.971 88.8725 37.2629 90.1653 37.5474L89.9504 38.5241L89.7354 39.5007C88.4346 39.2144 87.1385 38.9207 85.8473 38.6197L86.0743 37.6458ZM93.8487 39.3571L94.0517 38.3779C95.351 38.6473 96.655 38.9094 97.9633 39.1643L97.7721 40.1458L97.5809 41.1274C96.2647 40.871 94.9529 40.6073 93.6456 40.3363L93.8487 39.3571ZM101.676 40.8823L101.855 39.8986C103.157 40.1362 104.462 40.3668 105.772 40.5902L105.603 41.5759L105.435 42.5617C104.118 42.337 102.805 42.1051 101.496 41.866L101.676 40.8823ZM109.547 42.2254L109.704 41.2377C111.007 41.4446 112.313 41.6445 113.623 41.8373L113.477 42.8267L113.331 43.816C112.014 43.622 110.701 43.421 109.39 43.213L109.547 42.2254ZM117.428 43.3859L117.563 42.395C118.876 42.5734 120.192 42.7449 121.512 42.9094L121.388 43.9017L121.264 44.894C119.937 44.7286 118.614 44.5562 117.293 44.3768L117.428 43.3859ZM125.338 44.3723L125.451 43.3787C126.767 43.5283 128.086 43.671 129.408 43.8068L129.306 44.8016L129.203 45.7963C127.875 45.6598 126.548 45.5163 125.225 45.3659L125.338 44.3723ZM133.278 45.1883L133.37 44.1925C134.685 44.3135 136.004 44.4278 137.324 44.5353L137.243 45.532L137.162 46.5287C135.834 46.4206 134.509 46.3058 133.187 46.1841L133.278 45.1883ZM141.223 45.8349L141.293 44.8374C142.615 44.931 143.938 45.018 145.264 45.0981L145.204 46.0963L145.144 47.0945C143.811 47.0139 142.48 46.9265 141.152 46.8324L141.223 45.8349ZM149.179 46.3161L149.229 45.3174C150.553 45.3838 151.878 45.4435 153.205 45.4965L153.165 46.4957L153.126 47.4949C151.792 47.4416 150.459 47.3816 149.129 47.3149L149.179 46.3161ZM157.152 46.6347L157.182 45.6351C158.504 45.6745 159.828 45.7073 161.153 45.7334L161.133 46.7332L161.114 47.733C159.782 47.7067 158.451 47.6738 157.123 47.6342L157.152 46.6347ZM165.123 46.7918L165.133 45.7919C166.458 45.8047 167.784 45.8109 169.111 45.8105L169.112 46.8105L169.112 47.8105C167.778 47.8109 166.445 47.8047 165.113 47.7918L165.123 46.7918ZM173.095 46.7896L173.085 45.7896C174.41 45.7761 175.736 45.7559 177.064 45.7292L177.084 46.729L177.104 47.7288C175.77 47.7557 174.437 47.7759 173.105 47.7895L173.095 46.7896ZM181.071 46.629L181.041 45.6295C182.365 45.5897 183.689 45.5435 185.013 45.4906L185.053 46.4899L185.093 47.4891C183.762 47.5421 182.431 47.5886 181.101 47.6286L181.071 46.629ZM189.037 46.3113L188.988 45.3125C190.312 45.2467 191.636 45.1743 192.961 45.0953L193.02 46.0936L193.08 47.0918C191.748 47.1711 190.418 47.2439 189.087 47.3101L189.037 46.3113ZM196.997 45.837L196.927 44.8394C198.25 44.7475 199.572 44.6491 200.895 44.5442L200.974 45.5411L201.053 46.5379C199.724 46.6434 198.395 46.7422 197.066 46.8345L196.997 45.837ZM204.948 45.206L204.859 44.21C206.179 44.0922 207.498 43.9679 208.817 43.837L208.916 44.8321L209.015 45.8272C207.689 45.9587 206.363 46.0837 205.037 46.2021L204.948 45.206ZM212.882 44.419L212.773 43.4249C214.091 43.281 215.409 43.1306 216.726 42.9736L216.844 43.9666L216.962 44.9596C215.639 45.1173 214.315 45.2685 212.99 45.4131L212.882 44.419ZM220.8 43.4751L220.672 42.4833C221.987 42.3134 223.301 42.1369 224.614 41.9538L224.752 42.9442L224.89 43.9346C223.57 44.1186 222.25 44.296 220.929 44.4668L220.8 43.4751ZM228.698 42.3739L228.55 41.385C229.862 41.1887 231.172 40.9859 232.481 40.7765L232.639 41.764L232.797 42.7514C231.481 42.9619 230.164 43.1657 228.846 43.3629L228.698 42.3739ZM236.572 41.1145L236.404 40.1287C237.711 39.9062 239.017 39.677 240.321 39.4413L240.498 40.4254L240.676 41.4094C239.366 41.6463 238.054 41.8766 236.74 42.1004L236.572 41.1145ZM244.42 39.6956L244.232 38.7134C245.534 38.4642 246.835 38.2084 248.134 37.946L248.332 38.9262L248.53 39.9064C247.224 40.1702 245.917 40.4273 244.608 40.6778L244.42 39.6956ZM252.234 38.1166L252.025 37.1385C253.324 36.8622 254.62 36.5791 255.914 36.2895L256.132 37.2653L256.35 38.2412C255.05 38.5324 253.747 38.8169 252.442 39.0947L252.234 38.1166ZM260.017 36.374L259.789 35.4005C261.079 35.0974 262.366 34.7876 263.652 34.4711L263.891 35.4421L264.13 36.4131C262.838 36.7313 261.543 37.0427 260.246 37.3475L260.017 36.374ZM267.761 34.467L267.512 33.4986C268.796 33.1677 270.077 32.8301 271.356 32.4858L271.616 33.4514L271.876 34.417C270.59 34.7632 269.302 35.1027 268.011 35.4353L267.761 34.467ZM275.456 32.3948L275.185 31.4321C276.464 31.0727 277.74 30.7065 279.012 30.3336L279.294 31.2932L279.575 32.2528C278.295 32.6279 277.012 32.9961 275.727 33.3575L275.456 32.3948ZM283.112 30.1507L282.82 29.1942C284.087 28.8074 285.351 28.4138 286.611 28.0134L286.914 28.9664L287.217 29.9195C285.95 30.3222 284.679 30.7181 283.404 31.1071L283.112 30.1507ZM290.713 27.7352L290.399 26.7857C291.659 26.3696 292.914 25.9467 294.166 25.5168L294.491 26.4626L294.815 27.4084C293.556 27.8408 292.293 28.2662 291.027 28.6847L290.713 27.7352ZM298.248 25.1474L297.912 24.2055C299.164 23.7591 300.412 23.3057 301.655 22.8454L302.002 23.7832L302.349 24.721C301.098 25.1841 299.843 25.6402 298.584 26.0892L298.248 25.1474ZM305.732 22.3769L305.373 21.4434C306.61 20.9685 307.842 20.4867 309.069 19.9978L309.439 20.9268L309.809 21.8559C308.574 22.3478 307.334 22.8326 306.09 23.3104L305.732 22.3769ZM313.141 19.4259L312.76 18.5016C313.985 17.9957 315.206 17.4828 316.422 16.9627L316.815 17.8822L317.208 18.8016C315.985 19.325 314.756 19.8412 313.523 20.3503L313.141 19.4259ZM320.466 16.2931L320.061 15.3788C321.276 14.8406 322.486 14.2951 323.691 13.7425L324.108 14.6514L324.525 15.5603C323.312 16.1167 322.094 16.6657 320.871 17.2074L320.466 16.2931ZM327.718 12.9662L327.289 12.0629C328.486 11.4945 329.677 10.9189 330.863 10.336L331.304 11.2334L331.745 12.1309C330.551 12.7178 329.352 13.2973 328.147 13.8695L327.718 12.9662ZM334.876 9.44688L334.423 8.55561C335.604 7.95479 336.779 7.34662 337.948 6.7311L338.414 7.61596L338.88 8.50081C337.702 9.1207 336.519 9.73315 335.33 10.3382L334.876 9.44688ZM341.926 5.73476L341.448 4.85662C342.614 4.22123 343.774 3.57836 344.928 2.928L345.419 3.79911L345.91 4.67023C344.748 5.32537 343.579 5.97292 342.405 6.6129L341.926 5.73476Z' fill='%232488EA'/%3E%3C/svg%3E%0A");
                --arrow-visibility-y: none;
                --arrow-visibility-x: block;
            }
        }
        &__col:not(:last-child):nth-child(even) &-item:after {
            transform: scale(1, -1);
        }
        &-item {
            --icon-size: 100px;
        }
    }

    @media screen and (min-width: 1200px) {
        &__subtitle {
            margin-bottom: 5rem;
        }
        &__row {
            margin-bottom: 4rem;
        }
        &-item {
            --icon-size: 110px;
            &__title {
                margin-bottom: 2rem;
            }
        }
    }

    @media screen and (min-width: 1540px) {
        &__subtitle {
            margin-bottom: 6rem;
        }
        &__row {
            --padding-x: 2.5rem;
            margin-bottom: 5rem;
        }
    }
}