section.community.block 
	.container 
		.community-grid 
			.community-grid__title 
				h2.community__title.text-uppercase.mb-0.text-center.text-lg-left LOCAL EXPERTS PROUDLY <span class="text-blue">SERVING OUR COMMUNITY</span>
			.community-grid__img
				img.img-rounded.community__img(src="img/community-img-1.jpg" alt="")
				img.img-rounded.community__img(src="img/community-img-2.jpg" alt="")
			.community-grid__description
				.community__description Founded in Sydney, DrySafe is built on a commitment to protect our community. Our story is rooted in helping neighbours recover quickly from unexpected water damage. We're your local water damage specialists who live and work in the same communities we serve. We understand the stress of water damage because we've seen it affect our friends, family, and neighbours. When you choose DrySafe, you're choosing a local Sydney business that genuinely cares about this city and the people who live here.