.gallery 
    .swiper.gallery-swiper 
        .swiper-wrapper 
            .swiper-slide
                .work
                    .work__item.work__item--before
                        img.work__img(src="img/work-img-1.jpg", alt="")
                    .work__item.work__item--after
                        img.work__img(src="img/work-img-1-1.jpg", alt="")
            .swiper-slide
                .work 
                    .work__item.work__item--before
                        img.work__img(src="img/work-img-2.jpg", alt="")
                    .work__item.work__item--after
                        img.work__img(src="img/work-img-2-1.jpg", alt="")
            .swiper-slide
                .work 
                    .work__item.work__item--before
                        img.work__img(src="img/work-img-3.jpg", alt="")
                    .work__item.work__item--after
                        img.work__img(src="img/work-img-3-1.jpg", alt="")
        .swiper-button-prev.swiper-button
        .swiper-button-next.swiper-button