section.history.block 
    .container 
        h2.history__title.text-center.text-uppercase WE'VE HELPED THOUSANDS OF <span class="text-blue">SYDNEY SIDERS</span> LIKE EDDIE, CHECK OUT HIS STORY BELOW
        .history__video 
            .video(data-id="1157075605")
                img.video__preview.img-rounded(src="img/history-img.jpg", alt="")
                button(class="video__play", aria-label="Play video") ▶
