//- Urgency banner — single slim line
.notification
    .container
        .notification__content
            span.notification__indicator
            span.notification__text-mobile  Availability: <b>1 crew remaining</b>
            span.notification__text-desktop  Availability - <b>1 crew remaining</b> (current response time under 4 hrs)