.notification 
    span.notification____availability <span class="notification__indicator"></span>&nbsp;Current response availability: <b class="text-red text-semibold">1 crew remaining</b>
    span.notification__refresh.text-light Refresh status in <span>1</span> sec