.preference
    .preference__item 
        svg.preference__icon(width="14", height="14", viewBox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M6.66667 0C2.99333 0 0 2.99333 0 6.66667C0 10.34 2.99333 13.3333 6.66667 13.3333C10.34 13.3333 13.3333 10.34 13.3333 6.66667C13.3333 2.99333 10.34 0 6.66667 0ZM9.56667 9.04667C9.47333 9.20667 9.30667 9.29333 9.13333 9.29333C9.04667 9.29333 8.96 9.27333 8.88 9.22L6.81333 7.98667C6.3 7.68 5.92 7.00667 5.92 6.41333V3.68C5.92 3.40667 6.14667 3.18 6.42 3.18C6.69333 3.18 6.92 3.40667 6.92 3.68V6.41333C6.92 6.65333 7.12 7.00667 7.32667 7.12667L9.39333 8.36C9.63333 8.5 9.71333 8.80667 9.56667 9.04667Z", fill="#1A1A1A")
        .preference__text response in <b>minutes</b> not hours
    .preference__item 
        svg.preference__icon(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M8.73983 1.8583L4.58151 3.41663C3.62317 3.77497 2.83984 4.9083 2.83984 5.9333V12.125C2.83984 13.1083 3.48985 14.4 4.28152 14.9916L7.86484 17.6666C9.03984 18.55 10.9732 18.55 12.1482 17.6666L15.7315 14.9916C16.5232 14.4 17.1732 13.1083 17.1732 12.125V5.9333C17.1732 4.9083 16.3898 3.77497 15.4315 3.41663L11.2732 1.8583C10.5648 1.59997 9.4315 1.59997 8.73983 1.8583Z", fill="#1A1A1A")
            path(d="M10.0013 12.9167C11.8423 12.9167 13.3346 11.4243 13.3346 9.58333C13.3346 7.74238 11.8423 6.25 10.0013 6.25C8.16035 6.25 6.66797 7.74238 6.66797 9.58333C6.66797 11.4243 8.16035 12.9167 10.0013 12.9167Z", stroke="white", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
            path(d="M10.2096 8.5415V9.3165C10.2096 9.60817 10.0596 9.88317 9.80131 10.0332L9.16797 10.4165", stroke="white", stroke-width="1.6", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")
        .preference__text <b>30+ years</b> of experience
    .preference__item 
        svg.preference__icon(width="16", height="16", viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
            rect(width="16", height="16", rx="8", fill="#1D1C1A")
            path(d="M4 9.83337L6.66602 12L12.666 5.5", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
        .preference__text trusted by <b>1000+</b> Sydneysiders