section.process.block 
	.container 
		.process-grid 
			.process-grid__title 
				h2.process__title.text-uppercase.mb-0.text-center.text-xl-left <span class="text-blue">KEEPING YOU UPDATED EVERY</span> STEP OF THE WAY
			.process-grid__img
				img.img-rounded.process__img(src="img/process-img.jpg" alt="")
			.process-grid__description
				.process__description From the first visit to final attendance, we keep you informed at every step. You'll always know what's happening next, giving you peace of mind during a stressful time. Our technician reports explain their findings simply and we walk you through the plan giving you options when decisions need to be made. You're in control of the process, not left wondering what's going on behind closed doors treating your situation with care.
			.process-grid__notification
				.process__notification
					include notification
			.process-grid__btn
				.process__btn.text-center 
					+btn('btn btn-primary btn-rounded btn-large', 'SEND HELP NOW')