section.promo.block 
    .container 
        .promo__inner
            .promo__experience
                .promo__gallery 
                    h1.h3.promo__title.text-uppercase.text-center.d-xl-none Stop water damage from spreading in <span class="text-blue">minutes</span>
                    include gallery 
                .promo__testimonials 
                    include testimonials
            .promo__info
                h2.h1.promo__title.text-uppercase.text-center.d-none.d-xl-block Stop water damage from spreading in <span class="text-blue">minutes</span>
                .promo__description Our local technicians respond in 90 mins on average to stop water in its tracks, dry your home and stop mould before it spreads. We look after the mess so you can focus on what matters most, keeping your family safe during this stressful time.
                .promo__btn.text-center 
                    +btn('btn btn-primary btn-rounded btn-large', 'SEND HELP NOW')
                .promo__advantages
                    include advantages
                .promo__preference 
                    include preference
