section.protect.block 
    .container 
        .protect__inner
            h2.protect__title PEACE OF MIND PROTECTION, <span class="text-blue">EACH AND EVERY TIME</span>
            .protect__text All of our works completed across all of our projects are validated by our internal quality assurance protocol to give you peace of mind and protection that you are in safe, capable hands.
            .protect__btn 
                +btn('btn btn-primary btn-rounded btn-large', 'SEND HELP NOW')