section.recovery.block.section-blue.text-center 
    .container 
        h2.recovery__title.text-uppercase.text-center Our <span class="text-blue">3-Step</span> Rapid Recovery Process
        .h4.text-semibold.recovery__subtitle.text-center Fast, thorough, and stress-free water damage restoration
        .recovery__row 
            .recovery__col 
                .recovery-item 
                    .recovery-item__icon 
                        svg(width="113", height="114", viewBox="0 0 113 114", fill="none", xmlns="http://www.w3.org/2000/svg")
                            rect(x="41.8008", width="70.9333", height="70.9333", rx="15.2", fill="#c6e3ff")
                            g(clip-path="url(#clip0_1_6283)")
                                path(d="M47.0695 70.3742L64.882 83.7336C66.1942 84.7177 68.0541 84.452 69.0383 83.1398C70.0224 81.8277 69.7567 79.9677 68.4445 78.9836L51.9531 66.5V41.2656C51.9531 39.6254 50.6246 38.2969 48.9844 38.2969C47.3441 38.2969 46.0156 39.6254 46.0156 41.2656V67.9844C46.0156 68.97 46.4283 69.8577 47.0695 70.3742Z", fill="#2488EA")
                                path(d="M50.4653 21.9688C28.7356 21.9688 10.1794 37.6527 6.5575 59.0781L5.42938 57.4008C4.51055 56.0396 2.66399 55.6804 1.30282 56.5992C-0.0583562 57.5181 -0.417575 59.3646 0.501253 60.7258L6.43875 69.632C6.92711 70.3742 7.72274 70.8596 8.60594 70.9531H8.90282C9.68954 70.9502 10.4421 70.6355 10.9958 70.0773L18.4177 62.6555C19.577 61.4962 19.577 59.614 18.4177 58.4547C17.2584 57.2954 15.3762 57.2954 14.2169 58.4547L12.3763 60.3102C15.7948 39.2706 35.6216 24.988 56.6596 28.4065C77.6977 31.825 91.9833 51.6503 88.5648 72.6898C85.5292 91.3722 69.3926 105.097 50.4653 105.094C38.528 105.31 27.2378 99.6788 20.2286 90.0125C19.2771 88.6766 17.4231 88.3634 16.0872 89.3148C14.7513 90.2663 14.4381 92.1203 15.3895 93.4563C23.5061 104.696 36.6042 111.258 50.4653 111.031C75.0599 111.031 94.9966 91.0946 94.9966 66.5C94.9966 41.9054 75.0599 21.9688 50.4653 21.9688Z", fill="#2488EA")
                            defs
                                clippath(id="clip0_1_6283")
                                    rect(width="95", height="95", fill="white", transform="translate(0 19)")
                    .recovery-item__body
                        .recovery-item__title.h3.text-semibold.text-dark Fast response <span class="d-inline-block">(Avg. under 90 mins)</span>
                        .recovery-item__text We arrive fast with specialised equipment to stop water damage before it spreads.
            .recovery__col 
                .recovery-item 
                    .recovery-item__icon 
                        svg(width="114", height="116", viewBox="0 0 114 116", fill="none", xmlns="http://www.w3.org/2000/svg")
                            rect(x="42.2031", width="71.6185", height="71.6185", rx="15.3468", fill="#c6e3ff")
                            g(clip-path="url(#clip0_1_6292)")
                                path(d="M95.9176 67.1449C95.9186 66.175 95.4193 65.2733 94.5969 64.7593L84.9012 58.6994L94.5924 52.6675C95.4154 52.1553 95.9161 51.2551 95.9176 50.286C95.9191 49.3167 95.421 48.4152 94.5995 47.9006L49.4508 19.6124C48.5383 19.0407 47.3794 19.0407 46.4669 19.6124L1.31812 47.9006C0.496639 48.4152 -0.00149534 49.3169 3.37228e-06 50.286C0.00150209 51.2551 0.502447 52.1555 1.32524 52.6675L11.0165 58.6994L1.32074 64.7593C0.498326 65.2733 -0.000933323 66.1752 3.37228e-06 67.1449C0.000940068 68.1145 0.501885 69.0154 1.32524 69.528L11.0165 75.5599L1.32074 81.6198C0.499637 82.1331 0.00056539 83.0329 3.37228e-06 84.0013C-0.000558645 84.9696 0.497389 85.87 1.31812 86.384L46.4669 114.672C47.3796 115.244 48.5381 115.244 49.4508 114.672L94.5995 86.384C95.4203 85.87 95.9182 84.9696 95.9176 84.0013C95.9171 83.0329 95.418 82.1331 94.5969 81.6198L84.9012 75.5599L94.5924 69.528C95.4158 69.0154 95.9167 68.1147 95.9176 67.1449ZM8.11535 50.2736L47.9588 25.3098L87.8023 50.2738L47.9588 75.0727L8.11535 50.2736ZM87.8104 84.0059L47.9588 108.975L8.10729 84.0059L16.3296 78.867L46.474 97.6291C47.3826 98.1948 48.5347 98.195 49.4437 97.6291L79.588 78.867L87.8104 84.0059ZM47.9588 91.9332L8.12022 67.1375L16.3298 62.0065L46.4742 80.7685C47.3828 81.3343 48.5349 81.3345 49.4439 80.7685L79.5882 62.0065L87.7978 67.1375L47.9588 91.9332Z", fill="#2488EA")
                            defs
                                clippath(id="clip0_1_6292")
                                    rect(width="95.9176", height="95.9176", fill="white", transform="translate(0 19.1836)")
                    .recovery-item__body
                        .recovery-item__title.h3.text-semibold.text-dark Full assessment and prompt action
                        .recovery-item__text We access all affected rooms, identify the priority areas & commence targeted action straight away.
            .recovery__col 
                .recovery-item 
                    .recovery-item__icon 
                        svg(width="114", height="116", viewBox="0 0 114 116", fill="none", xmlns="http://www.w3.org/2000/svg")
                            rect(x="42.2031", width="71.6185", height="71.6185", rx="15.3468", fill="#c6e3ff")
                            path(d="M47.9777 109.347C46.6988 109.347 45.5264 109.027 44.4607 108.388L30.3928 100.075C24.4246 96.6642 19.5754 91.9749 15.8453 86.0067C12.1151 80.0385 9.93034 73.644 9.29089 66.8232L7.37254 42.8438C7.15939 41.1386 7.47911 39.5932 8.33172 38.2078C9.18432 36.8223 10.3566 35.9164 11.8487 35.4901C14.1933 34.8506 16.3249 33.8915 18.2432 32.6126C20.5879 31.1205 22.7194 29.2022 24.6377 26.8575C25.9166 25.1523 27.7284 24.2997 30.073 24.2997H65.8823C68.227 24.2997 70.0387 25.1523 71.3176 26.8575C73.236 29.2022 75.3675 31.1205 77.7121 32.6126C79.6305 33.8915 81.762 34.8506 84.1066 35.4901C85.5987 35.9164 86.771 36.8223 87.6236 38.2078C88.4762 39.5932 88.9025 41.032 88.9025 42.5241L86.6645 66.5035C86.2382 73.5374 84.1599 79.9852 80.4298 85.8469C76.6997 91.7085 71.8505 96.4511 65.8823 100.075L51.8144 108.388C50.5355 109.027 49.2566 109.347 47.9777 109.347ZM30.073 30.0548C29.6467 30.0548 29.327 30.1613 29.1139 30.3745C26.9824 33.1454 24.5311 35.5967 21.7602 37.7282C19.4155 39.2202 16.8577 40.286 14.0868 40.9254C13.4473 41.1386 13.1276 41.5649 13.1276 42.2043L15.3657 66.1837C15.792 72.152 17.6038 77.6939 20.801 82.8095C23.9983 87.9251 28.1547 91.9749 33.2703 94.959L47.3382 103.272C47.7645 103.485 48.1908 103.485 48.6171 103.272L62.685 94.959C67.8006 91.9749 71.9571 87.9784 75.1543 82.9693C78.3516 77.9603 80.1634 72.3651 80.5897 66.1837L82.8277 42.2043C82.8277 41.778 82.508 41.4583 81.8686 41.2452C79.0976 40.6057 76.5398 39.4334 74.1952 37.7282C71.4242 35.8098 68.973 33.4652 66.8415 30.6942C66.6283 30.4811 66.3086 30.3745 65.8823 30.3745L30.073 30.0548ZM45.1001 76.0952C44.2475 76.0952 43.5015 75.7755 42.8621 75.1361L34.8689 67.1429C34.4426 66.7166 34.2828 66.1305 34.3893 65.3844C34.4959 64.6384 34.8156 63.999 35.3485 63.4661C35.8814 62.9332 36.4676 62.6135 37.107 62.5069C37.7465 62.4003 38.3859 62.5602 39.0254 62.9865L45.1001 69.0613L58.8483 54.9934C59.4878 54.7802 60.1272 54.6736 60.7667 54.6736C61.4061 54.6736 61.9923 54.9401 62.5252 55.4729C63.0581 56.0058 63.3778 56.592 63.4844 57.2314C63.5909 57.8709 63.4311 58.5103 63.0048 59.1498L47.0185 75.1361C46.5922 75.7755 45.9527 76.0952 45.1001 76.0952Z", fill="#2488EA")
                    .recovery-item__body
                        .recovery-item__title.h3.text-semibold.text-dark Document and support
                        .recovery-item__text Our team will handle all the documentation & provide you with works reports if you decide to claim through insurance.
        .recovery__btn
            +btn('btn btn-primary btn-rounded btn-large', 'SEND HELP NOW')