section.reviews.overflow-hidden.block 
    .container 
        h2.reviews__title.text-center.text-uppercase HOMEOWNERS WHO HAVE EXPERIENCED THE <span class="text-blue">DRYSAFE</span> DIFFERENCE
        .reviews__swiper 
            .swiper.reviews-swiper.overflow-visible 
                .swiper-wrapper 
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded 
                            img.review__img(src="img/review-img-1.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "The team arrived on time and the work was set up professionally and efficiently. Their friendly and polite manner left me with great impressions. It is obviously the company treated them right and this reflected on their happy and cheerfulness attitude when dealing with stressed out customers. Well done ! Thank you guys !!!🙏🙏🙏👏🏻👏🏻👏🏻"
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: #AB47BC;", data-letter="E") 
                                    .review__user-details 
                                        .review__user-name.h6 Eddie Lee
                                        .review__user-stats
                                            span Local guide
                                            span 25 reviews
                                            span 7 photos
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-2.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Extremely happy with the service. Not a single square inch of mold left on the property."
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: #2488EA;", data-letter="B") 
                                    .review__user-details 
                                        .review__user-name.h6 Beau Sontingco
                                        .review__user-stats
                                            span Local guide
                                            span 15 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-3.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "They are extremely prompt, professional and their workmanship is excellent. I'd recommend them to anyone and would definitely use them again."
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="") 
                                        img(src="img/review-ava-1.jpg", alt="")
                                    .review__user-details 
                                        .review__user-name.h6 Pauline Allan
                                        .review__user-stats
                                            span Local guide
                                            span 25 reviews
                                            span 7 photos
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-4.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "They sanitised the floor for mould prevention.They are extremely prompt, they rang and advised they would be here in 30 minutes and that is how long they were. The two guys were very polite and professional. I'd highly recommend them."
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: #0497A7;", data-letter="D") 
                                    .review__user-details 
                                        .review__user-name.h6 Dearne Bernett
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-5.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "On site within 2 hours providing us with reassurance that our situation would be addressed without delay. The level of courtesy, professionalism and customer focus from the people who assisted us in every way possible was outstanding."
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: #004D41;", data-letter="M") 
                                    .review__user-details 
                                        .review__user-name.h6 Marilyn Atkinson
                                        .review__user-stats
                                            span Local guide
                                            span 22 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-6.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "I manage a large residential building in the CBD. Recently there was a water ingress, affecting 4 apartments. Fast attendance, great job in cleaning up, and empathetic staff. In the days following, there was a lot of back and forth, ensuring the residents were kept updated. Highly recommend!"
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: #2488EA;", data-letter="L") 
                                    .review__user-details 
                                        .review__user-name.h6 Luke Davison
                                        .review__user-stats
                                            span 8 reviews
                                            span 1 photo
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-7.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Came out to inspect the damage and organise remediation. Professional, arrived on time and did exactly what they said they'd do. Very easy to deal with. Highly recommend."
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="") 
                                        img(src="img/review-ava-2.jpg", alt="")
                                    .review__user-details 
                                        .review__user-name.h6 Kim Crumpton (Jonthill Staff)
                                        .review__user-stats
                                            span 10 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-8.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "The team were fabulous, they came when they said they would and treated our belongings with the utmost respect and care. They assessed and cleaned the mould issue and cleaned up with amazing results. I am a severe asthmatic and couldn't even walk in front of my garage door before the clean up due to my asthma being triggered, now i can walk in with min discomfort as they cleaned the mould and removed all effected items."
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="")
                                        img(src="img/review-ava-3.jpg", alt="")
                                    .review__user-details 
                                        .review__user-name.h6 Nicole Wilding Forbes
                                        .review__user-stats
                                            span 4 reviews
                                            span
                                            span
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-9.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "The gentleman that arrived to do my work were very polite very clean very quick, when they had finished they started mopping and cleaning up I told them not to worry about mopping because I had to do the whole house anyway, but they did the whole hallway and the bathroom perfectly so I didn't have to do it at all, communication between the gentleman and myself in regards to what was happening I was just perfect. I would highly recommend"
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: #004D41;", data-letter="M") 
                                    .review__user-details 
                                        .review__user-name.h6 Marilyn Atkinson
                                        .review__user-stats
                                            span Local guide
                                            span 22 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded 
                            img.review__img(src="img/review-img-10.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Totally seamless and stress free. They are professional and friendly and keep their promises and commitments. Seems simple, but it's not always common - so it great when one company delivers on that consistently. Thank you :)"
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="")
                                        img(src="img/review-ava-4.jpg", alt="")
                                    .review__user-details 
                                        .review__user-name.h6 Phil kells
                                        .review__user-stats
                                            span 2 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-11.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Highly recommend this company and the quality of their staff is commendable. Travis and Vishwa attended our property for mould related work due to water leakage – they were very professional, polite and went above and beyond to ensure the work was done on time and without compromising quality. Given I am WFH over two years I was a bit worried about disturbances during work meetings but they were very mindful of others in the house (without being told 😊) and was of no disturbance at all – I would strongly recommend this company and Vishwa/Travis"
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: #0497A7;", data-letter="R") 
                                    .review__user-details 
                                        .review__user-name.h6 Reshmi Sharma
                                        .review__user-stats
                                            span 13 reviews
                                            span 5 photo
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded  
                            img.review__img(src="img/review-img-12.jpg", alt="")
                            .review__body
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "The guys were very professional. Explained things well. Very quick to respond and get on with job. Unfortunately we were unlucky and as our whole job was finished perfectly we literally had another flood in the kitchen and needed to call in the crew again! As before they were quick to respond and do their job and appropriately concerned about the issues we were having."
                            .review__footer 
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="") 
                                        img(src="img/review-ava-5.jpg", alt="")
                                    .review__user-details 
                                        .review__user-name.h6 Leora Segal
                                        .review__user-stats
                                            span 3 reviews
                .swiper-button-prev.swiper-button
                .swiper-button-next.swiper-button