//- BATCH 2 — Social Proof Section (immediately below hero)
section.reviews.overflow-hidden.block
    .container
        //- 2.4 — Benefit-driven section headline (PM to provide final copy)
        h2.reviews__title.text-center Trusted by Hundreds of Sydney Homeowners to Stop Water Damage Fast
        .reviews__swiper
            .swiper.reviews-swiper.overflow-visible
                .swiper-wrapper
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-1.jpg", alt="")
                            .review__body
                                h3.review__headline Professional Team, On Time and Efficient
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "The team arrived on time and the work was set up professionally and efficiently. Their friendly and polite manner left me with great impressions."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: #AB47BC;", data-letter="E")
                                    .review__user-details
                                        .review__user-name.h6 Eddie Lee
                                        .review__user-stats
                                            span Local guide
                                            span 25 reviews
                                            span 7 photos
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-2.jpg", alt="")
                            .review__body
                                h3.review__headline Not a Single Square Inch of Mould Left
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Extremely happy with the service. Not a single square inch of mold left on the property."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: #2488EA;", data-letter="B")
                                    .review__user-details
                                        .review__user-name.h6 Beau Sontingco
                                        .review__user-stats
                                            span Local guide
                                            span 15 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-3.jpg", alt="")
                            .review__body
                                h3.review__headline Prompt, Professional, Excellent Results
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "They are extremely prompt, professional and their workmanship is excellent. I'd recommend them to anyone and would definitely use them again."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="")
                                        img(src="img/review-ava-1.jpg", alt="")
                                    .review__user-details
                                        .review__user-name.h6 Pauline Allan
                                        .review__user-stats
                                            span Local guide
                                            span 25 reviews
                                            span 7 photos
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-4.jpg", alt="")
                            .review__body
                                h3.review__headline Team Arrived Within 30 Minutes
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "They rang and advised they would be here in 30 minutes — and that is how long they were. Very polite and professional. I'd highly recommend them."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: #0497A7;", data-letter="D")
                                    .review__user-details
                                        .review__user-name.h6 Dearne Bernett
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-5.jpg", alt="")
                            .review__body
                                h3.review__headline On-Site Fast With Complete Reassurance
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "On site within 2 hours providing us with reassurance that our situation would be addressed without delay. The courtesy and professionalism was outstanding."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: #004D41;", data-letter="M")
                                    .review__user-details
                                        .review__user-name.h6 Marilyn Atkinson
                                        .review__user-stats
                                            span Local guide
                                            span 22 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-6.jpg", alt="")
                            .review__body
                                h3.review__headline Fast Attendance, Excellent Clean-Up
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Fast attendance, great job in cleaning up, and empathetic staff. Residents were kept updated throughout. Highly recommend!"
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: #2488EA;", data-letter="L")
                                    .review__user-details
                                        .review__user-name.h6 Luke Davison
                                        .review__user-stats
                                            span 8 reviews
                                            span 1 photo
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-7.jpg", alt="")
                            .review__body
                                h3.review__headline Did Exactly What They Promised
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Professional, arrived on time and did exactly what they said they'd do. Very easy to deal with. Highly recommend."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="")
                                        img(src="img/review-ava-2.jpg", alt="")
                                    .review__user-details
                                        .review__user-name.h6 Kim Crumpton (Jonthill Staff)
                                        .review__user-stats
                                            span 10 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-8.jpg", alt="")
                            .review__body
                                h3.review__headline Amazing Results, Mould Completely Gone
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "The team were fabulous — they came when they said they would and treated our belongings with the utmost respect. They cleaned the mould issue with amazing results."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="")
                                        img(src="img/review-ava-3.jpg", alt="")
                                    .review__user-details
                                        .review__user-name.h6 Nicole Wilding Forbes
                                        .review__user-stats
                                            span 4 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-9.jpg", alt="")
                            .review__body
                                h3.review__headline Polite, Clean, and Incredibly Quick
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Very polite, very clean, very quick. They did the whole hallway and bathroom perfectly. Communication was just perfect — I would highly recommend."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: #004D41;", data-letter="M")
                                    .review__user-details
                                        .review__user-name.h6 Marilyn Atkinson
                                        .review__user-stats
                                            span Local guide
                                            span 22 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-10.jpg", alt="")
                            .review__body
                                h3.review__headline Totally Seamless and Stress-Free
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Totally seamless and stress free. Professional, friendly, and they keep their promises. It's great when one company delivers on that consistently."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="")
                                        img(src="img/review-ava-4.jpg", alt="")
                                    .review__user-details
                                        .review__user-name.h6 Phil kells
                                        .review__user-stats
                                            span 2 reviews
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-11.jpg", alt="")
                            .review__body
                                h3.review__headline Above and Beyond, Without Compromise
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Very professional, polite and went above and beyond to ensure the work was done on time without compromising quality. I would strongly recommend this company."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: #0497A7;", data-letter="R")
                                    .review__user-details
                                        .review__user-name.h6 Reshmi Sharma
                                        .review__user-stats
                                            span 13 reviews
                                            span 5 photo
                    .swiper-slide.h-auto
                        .review.card.card-white.card-rounded
                            img.review__img(src="img/review-img-12.jpg", alt="")
                            .review__body
                                h3.review__headline Quick Response, Professional Service
                                .rating.review__rating(style="--star-rating: 5;")
                                .review__text "Very professional. Explained things well. Very quick to respond and get on with the job..."
                            .review__footer
                                .review__user
                                    .review__user-ava(style="--bg-color: transparent;", data-letter="")
                                        img(src="img/review-ava-5.jpg", alt="")
                                    .review__user-details
                                        .review__user-name.h6 Leora Segal
                                        .review__user-stats
                                            span 3 reviews
                .swiper-button-prev.swiper-button
                .swiper-button-next.swiper-button
        .reviews__btn.text-center
            +btn('btn btn-primary btn-rounded btn-large', 'SEND HELP NOW')
