.testimonials 
    .testimonials__header.text-center
        img(src="img/google.svg", alt="")
    .testimonials__row 
        .testimonials__col
            .card.card-white.card-rounded
                .testimonial
                    .testimonial__ava 
                        img(src="img/testimonial-ava-1.jpg", alt="")
                    .testimonial__text “The guys were very professional. Explained things well. Very quick to respond and get on with job.” <b>- Leora Segal</b>
        .testimonials__col
            .card.card-white.card-rounded
                .testimonial
                    .testimonial__ava 
                        img(src="img/testimonial-ava-2.jpg", alt="")
                    .testimonial__text “They are professional and friendly and keep their promises & commitments. Seems simple, but it's not ...” <b>- Phil Kells</b>
        .testimonials__col
            .card.card-white.card-rounded
                .testimonial
                    .testimonial__ava 
                        img(src="img/testimonial-ava-3.jpg", alt="")
                    .testimonial__text “Promptly contacted us after our insurance claim was lodged. Followed up, and came out to ....” <b>- Kim Crumpton</b>
        .testimonials__col
            .card.card-white.card-rounded
                .testimonial
                    .testimonial__ava 
                        img(src="img/testimonial-ava-4.jpg", alt="")
                    .testimonial__text “It was a relief to have them attend and get our premises to a usable state so quickly” <b>- Yona Griffin</b>