section.why.block.section-blue 
    .container 
        h2.why__title.text-center WHY THE COMMUNITY SELECTS <span class="text-blue">DRYSAFE</span> OVER OTHERS
        .why__equation
            .equation
                .equation__row 
                    .equation__col
                    .equation__col 
                        .equation__object.text-bold.h3 
                            img.d-inline-block(src="img/logo-white.svg", alt="")
                    .equation__col 
                        .equation__object.text-bold.h3 Standard Providers
                .equation__row 
                    .equation__col 
                        .equation__property.text-medium.h4 Booking Time
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Get a price in seconds
                            .equation__property-description Book your response instantly
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Time consuming phone tag
                            .equation__property-description Call, wait, explain, repeat
                .equation__row 
                    .equation__col
                        .equation__property.text-medium.h4 Work method
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Qualified and equipped
                            .equation__property-description Backed by years of training
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Band-aid approach
                            .equation__property-description Limited staff offering surface level fixes
                .equation__row 
                    .equation__col
                        .equation__property.text-medium.h4 Arrival of techniques
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Prompt & Immediate
                            .equation__property-description Reducing the spread of damage
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Vague scheduling windows
                            .equation__property-description Left wondering when help will arrive
                .equation__row 
                    .equation__col
                        .equation__property.text-medium.h4 Experience & expertise
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 30+ Years Experience
                            .equation__property-description Backed by parent company resources
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Still learning on the job
                            .equation__property-description Often limited experience and skills
                .equation__row 
                    .equation__col
                        .equation__property.text-medium.h4 Insurance support
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Preferred insurance vendor
                            .equation__property-description Claim-ready documentation standard
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Limited insurance knowledge
                            .equation__property-description Left alone to navigate complex claim process
                .equation__row 
                    .equation__col
                        .equation__property.text-medium.h4.text-overflow Communication
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Transparent updates
                            .equation__property-description Clear overview of findings and works
                    .equation__col
                        .equation__property-info
                            .equation__property-value.text-medium.h5 Patchy communication
                            .equation__property-description You have to chase progress updates
        .why__notification 
            include notification 
        .why__btn.text-center 
            +btn('btn btn-primary btn-rounded btn-large', 'SEND HELP NOW')