
// @font-face {
//   font-display: swap; 
//   font-family: 'Abhaya Libre';
//   font-style: normal;
//   font-weight: 800;
//   src: url('../fonts/abhaya-libre-v18-latin-ext-800.woff2') format('woff2'); 
// }

// @font-face {
//   font-display: swap; 
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 300;
//   src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); 
// }

// @font-face {
//   font-display: swap; 
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/poppins-v24-latin-ext-regular.woff2') format('woff2'); 
// }

// @font-face {
//   font-display: swap; 
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 500;
//   src: url('../fonts/poppins-v24-latin-ext-500.woff2') format('woff2'); 
// }

// @font-face {
//   font-display: swap; 
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 600;
//   src: url('../fonts/poppins-v24-latin-ext-600.woff2') format('woff2'); 
// }

// @font-face {
//   font-display: swap; 
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../fonts/poppins-v24-latin-ext-700.woff2') format('woff2'); 
// }


/* inter-300 - latin-ext */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v20-latin-ext-300.woff2') format('woff2'); 
}
/* inter-regular - latin-ext */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v20-latin-ext-regular.woff2') format('woff2'); 
}
/* inter-500 - latin-ext */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v20-latin-ext-500.woff2') format('woff2'); 
}
/* inter-600 - latin-ext */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v20-latin-ext-600.woff2') format('woff2'); 
}
/* inter-700 - latin-ext */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v20-latin-ext-700.woff2') format('woff2'); 
}
/* inter-800 - latin-ext */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v20-latin-ext-800.woff2') format('woff2'); 
}