.block {
  padding: 25px 0;
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
  @media screen and (min-width: 992px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1540px) {
    padding: 80px 0;
  }
  // &.promo {
  //   padding-top: 110px;
  // }
  // &:not(.promo) {
  //   padding-top: 30px;
  // }
  // padding-bottom: 30px;

  // @include rm(576) {
  //   &:not(.promo) {
  //     padding-top: 40px;
  //   }
  //   padding-bottom: 40px;
  // }

  // @include rm(768) {
  //   &:not(.promo) {
  //     padding-top: 50px;
  //   }
  //   padding-bottom: 50px;
  // }

  // @media screen and (min-width: 992px) {
  //   &.promo {
  //     padding-top: 120px;
  //   }
  //   &:not(.promo) {
  //     padding-top: 60px;
  //   }
  //   padding-bottom: 60px;
  // }
  // @media screen and (min-width: 1200px) {
  //   &.promo {
  //     padding-top: 130px;
  //   }
  //   &:not(.promo) {
  //     padding-top: 80px;
  //   }
  //   padding-bottom: 80px;
  // }
  // @media screen and (min-width: 1400px) {
  //   &.promo {
  //     padding-top: 140px;
  //   }
  //   &:not(.promo) {
  //     padding-top: 100px;
  //   }
  //   padding-bottom: 100px;
  // }

}
