
:root {
  --lightgray: #B1B1B1;
  --darkgray: #333;
  --dark: #1a1a1a;
  --light: #F4F7FA;
  --white: #fff;
  --lightblue: #E8F4FF;
  --softblue: #9BBFDA;
  --blue: #2488EA;
  --darkblue: #0f6bc8;
  --lightgreen: #E7F4E8;
  --softgreen: #92D692;
  --green: #228B22;
  --darkgreen: #1a6f1a;
}